@import '../../../styles/variables';
.DepartureBoard {
	width: 100%;
	background: rgb(30, 30, 30);
	color: #eee;
	font-family: Helvetica;
	border-radius: 10px;
	padding-top: 10px;
}

//Desktops, large screens
@media screen and (max-width: 1200px) {

}
//Small screens, laptops
@media screen and (max-width: 1024px) {

}

//iPads, Tablets
@media screen and (max-width: 768px) {

}

//Mobile devices
@media screen and (max-width: 500px) {

}