@import '../../../styles/index.scss';
@import '../../../styles/variables.scss';

.DirectiveSign {
  background-color: $yellow;
  color: $black;
  border: 5px solid $black;
  padding: 0 20px 20px;
  margin: 20px 70px;
  .upperDeck {
    border-bottom: 3px solid $black;
    margin: 0 -20px;
    border-collapse: collapse;
    .titleIcon {
      width: 50px;
    }
  }
  .hrzArrow {
    width:15%;
  }
  .vrtArrow {
    width:90%;
  }
  h1, h3 {
    font-weight: bolder;
  }
  a, a:hover {
    text-decoration: none;
    color: $black;
  }
  .bars {
    svg {
      position: relative;
      background-color: grey;
      margin-top:-20px;
    }
  }
}