@import '../styles/index.scss';
@import '../styles/variables';
.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 18pt;
  color: white;
}
.carousel {
  img {
    padding: 30px;
  }
  .carousel-control-prev-icon, .carousel-control-next-icon {
    width: 50px;
    height: 50px;
  }
  .carousel-control-next {
    right: -2em
  }
  .carousel-control-prev {
    left: -2em;
  }

  .carousel-indicators {
    li {
      width:10px;
      height:10px;
      border-radius: 50%;
    }
  }
}
.head-board {
  margin: 20px;
  padding: 20px;
  background:$black;
  border-radius: 10px;
  color: $white;
  .board-header{
    margin-bottom: 30px;
  }
  .title-selector-container {
    margin: 0 50px;
  }
  .logo {
    width: 50px;
    height: 50px;
  }
}

svg {
  .white {
    fill: $white;
    color: $white;
  }
  .arrow {
    .up {
      transform: rotate(-90deg);
    }
    .down {
      transform: rotate(90deg);
    }
    .left {
      transform: rotate(-180deg);
    }
  }
}

//Desktops, large screens
@media screen and (max-width: 1200px) {

}
//Small screens, laptops
@media screen and (max-width: 1024px) {

}

//iPads, Tablets
@media screen and (max-width: 768px) {

}

//Mobile devices
@media screen and (max-width: 500px) {
  .enchelada{
    padding: 0 .5%;
    svg.arrow {
      width: 30px;
      margin-right:5px;
    }
    .head-board {
      margin: 10px;
      padding: 10px;
      .title-selector-container {
        margin: 0 30px;
      }
    }
  }
}