@import '../../../styles/index.scss';
@import '../../../styles/variables.scss';

.ProjectSection {
  table {
    width: 100%;
    background-color: $black;
    border-radius: 10px;
    border-top: none !important;
    box-shadow: $black 2px 2px 10px;
  }
  thead,tr,th,td {
    border: none !important;
  }
  svg.white {
    fill:$white;
    margin-bottom:5px;
    width: 30px;
    height: 30px;
  }
  h2 {
    text-transform:uppercase;
    font-weight: 300;
    font-size: + 2.5rem;
  }
}
.example-appear {
  opacity: 0.00;
}

.example-appear.example-appear-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.example-enter {
  opacity: 0.01;
}

.example-enter.example-enter-active {
  opacity: 1;
  transition-delay: 500ms;
  transition: opacity 500ms ease-in;
}

.example-leave {
  opacity: 1;
}

.example-leave.example-leave-active {
  opacity: 0.01;
  transition: opacity 500ms ease-in;
}