@import '../styles/index.scss';
@import '../styles/variables';
.App {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}
.button-styles {
  background-color: $black;
  color:$white;
  border: none;
  border-radius: 5px;
  padding: 10px;
  width: 100%;
  font-weight:600;
  text-transform: uppercase;
}

.carousel {
  img {
    padding: 30px;
  }
  .carousel-control-prev-icon, .carousel-control-next-icon {
    width: 50px;
    height: 50px;
  }
  .carousel-control-next {
    right: -2em
  }
  .carousel-control-prev {
    left: -2em;
  }

  .carousel-indicators {
    li {
      width:10px;
      height:10px;
      border-radius: 50%;
    }
  }
}
.head-board {
  margin: 20px 0;
  padding: 20px;
  background:$black;
  border-radius: 10px;
  color: $white;
  box-shadow: $black 2px 2px 10px;
  .board-header{
    margin-bottom: 30px;
  }
  .title-selector-container {
    margin: 0 20px;
  }
  .header-title {
    text-align: right;
  }
  .logo {
    fill:$white;
    width: 100%;
  }
}

svg {
  .white {
    fill: $white;
    color: $white;
  }
  .arrow {
    .up {
      transform: rotate(-90deg);
    }
    .down {
      transform: rotate(90deg);
    }
    .left {
      transform: rotate(-180deg);
    }
  }
}

.arrow {
  .up {
    transform: rotate(-90deg);
  }
  .down {
    transform: rotate(90deg);
  }
  .left {
    transform: rotate(-180deg);
  }
}


//Desktops, large screens
@media screen and (max-width: 1200px) {
.container {
  max-width: 1000px !important;
}
}
//Small screens, laptops
@media screen and (max-width: 1024px) {

}

//iPads, Tablets
@media screen and (max-width: 768px) {
  h1 {
    font-size: 8vw !important;
  }
  h2 {
    font-size: 5vw !important;
  }
  .center-sm {
    text-align: center !important;
  }

}

//Mobile devices
@media screen and (max-width: 500px) {
  .enchelada{
    padding: 0 .5%;
    svg.arrow {
      width: 30px;
      margin-right:5px;
    }
  }
  .head-board{
    .logo {
      width: 25vw;
      height: 25vw;
    }
  }
  .hide-sm {
    display: none !important;
  }
}