@import '../../../styles/index.scss';

.Project {
  width: 45%;
  color: $black;
  margin: 10px;
  .inner {
    width: 100%;
    img{
      width: 100%;
    }
    .para {
      position:relative;
      width: 100%;
      padding: 10px;
      font-size: 14px;
      background-color: $white;
    }
  }
}

//Desktops, large screens
@media screen and (max-width: 1200px) {

}
//Small screens, laptops
@media screen and (max-width: 1024px) {

}

//iPads, Tablets
@media screen and (max-width: 768px) {

}

//Mobile devices
@media screen and (max-width: 500px) {

}