@import '../../../styles/variables';

.Bio {
  color: $black;
  text-align: justify;
  font-size: 18px;
  margin: 50px 20px 0;
  .curve {
    width: 200px;
    height: auto;
    float: left;
    border: $black 5px solid;
    margin-right:2rem;
    border-radius: 50%;
    shape-outside:circle();
  }
}


  //iPads, Tablets
  @media screen and (max-width: 768px) {
    .Bio {
      .curve {
        display: none;
      }
  }
}