@import '../../../styles/index.scss';
@import '../../../styles/variables.scss';

.DirectiveSign {
  background-color: $yellow;
  color: $black;
  border: 5px solid $black;
  border-radius: 3px;
  padding: 0 20px 20px;
  margin: 20px 70px;
  box-shadow: $black 2px 2px 10px;
  svg {
    fill: $black;
  }
  .upperDeck {
    display:flex;
    border-bottom: 3px solid $black;
    margin: 0 -20px;
    border-collapse: collapse;
    .titleIcon {
      width: 50px;
    }
  }
  h1, h2, h3 {
    font-weight: bolder;
  }
  .clickOverlay{
    cursor: pointer;
    button {
      border: none;
      background-color: transparent;
      margin: 10px 0 ;
      img {
        height:50px;
        margin: 0 5px;
      }
    }
  }
  a, a:hover {
    text-decoration: none;
    color: $black
  }
  .bars {
    svg {
      position: relative;
      background-color: grey;
      margin-top:-20px;
    }
  }
}

//Desktops, large screens
@media screen and (max-width: 1200px) {
  .DirectiveSign {
    margin: 20px 0px;
  }
  }
  //Small screens, laptops
  @media screen and (max-width: 1024px) {

  }

  //iPads, Tablets
  @media screen and (max-width: 768px) {
    .DirectiveSign {
      margin: 20px 0px;
      .next, .prev {
        h3 {display:none;}
      }
    }
  }

  //Mobile devices
  @media screen and (max-width: 500px) {

  }